<h1>Trim your URI</h1>

<?php
$form->prepare();
$form->setAttribute('action', $this->url('pronicon-shorty-trim'));
$form->setAttribute('method', 'post');
?>

<?php echo $this->form()->openTag($form); ?>

<dl class="form_trim">
	<dt><?=$this->formLabel($form->get('orig_url'))?></dt>
	<dd><?=$this->formInput($form->get('orig_url'))?></dd>
	<?=$this->formElementErrors($form->get('orig_url'), array('class' => 'alert-error'));?>

	<dt><?=$this->formLabel($form->get('trim_path'))?></dt>
	<dd><?=$this->formInput($form->get('trim_path'))?></dd>
	<?=$this->formElementErrors($form->get('trim_path'), array('class' => 'alert-error'));?>

	<dt>&nbsp;</dt>
	<dd><?=$this->formButton($form->get('submit')->setAttribute('class', 'btn btn-success btn-large'))?></dd>
</dl>

<?=$this->form()->closeTag() ?>