<table class="table">
	<tr>
		<th>Original URI</th>
		<th>Trimmed Path</th>
		<th></th>
	</tr>
	<?php foreach($trimlist as $entity):?>
	<tr>
		<td><?=$this->escapeHtml($entity->getOrigUrl())?></td>
		<td><?=$this->escapeHtml($entity->getTrimPath())?></td>
		<td><a href="<?=$this->url('pronicon-shorty-trim/delete', array('id' => $entity->getId()));?>">Delete</a></td>
	</tr>
	<?php endforeach; ?>
</table>